*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: url(./backiee-76116-landscape.jpg);
    background-color: rgba(0, 0, 0, 0.7);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;

}
.container{
    width: 90%;
    margin: 12%;
    max-width: 700px;
}
.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;

}
.fa{
    color: #002339;
    font-size: 29px;
    padding-right: 17px;
    cursor: pointer;
}

.container h1{
    font-weight: 500;
    font-size: 45px;
}
.container h1 span{
    color: #019f8f;
    padding-bottom: 7px;
    font-weight: 700;
}
.display input{
    border: none;
    outline: none;
    font-size: 150%;
    padding-left: 3%;
}
.container button{
    border: 0;
    outline: 0;
    background: #019f55;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 10px;
    gap: 10px;
}
.credits{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    padding: 2.5rem 1rem;
    margin-top: 1rem;
    border-top: var(--border);
    color: #019f8f;
}
.credits span{
    color: #fff;
}

